@import 'styles/variables';
@import 'styles/typography';

html,
body {
  margin: 0;
  padding: 0;
  background: $kg-bg;
  font-family: 'Inter', sans-serif;
  color: $kg-text-primary;
}

* {
  box-sizing: border-box;
}